import { Controller, Get, Req, Res } from '@nestjs/common'
import { Request, Response } from 'express'
import { AppService } from './app.service'

@Controller()
export class AppController {
  constructor(private readonly appService: AppService) {}

  @Get('/')
  async getHtml(@Req() req: Request, @Res() res: Response): Promise<void> {
    const data = await this.appService.buildPayload(req)
    res.setHeader('Content-Type', 'text/html; charset=utf-8')
    res.setHeader('Accept-CH', 'Sec-CH-UA, Sec-CH-UA-Mobile, Sec-CH-UA-Platform, Sec-CH-UA-Arch, Sec-CH-UA-Bitness, Sec-CH-UA-Model, Sec-CH-UA-Full-Version, Sec-CH-UA-Platform-Version')
    res.send(this.appService.renderHtml(data))
  }

  @Get('/json')
  async getJson(@Req() req: Request) {
    return this.appService.buildPayload(req)
  }

  @Get('/xml')
  async getXml(@Req() req: Request, @Res() res: Response): Promise<void> {
    const data = await this.appService.buildPayload(req)
    res.setHeader('Content-Type', 'application/xml; charset=utf-8')
    res.send(this.appService.renderXml(data))
  }

  @Get('/text')
  async getText(@Req() req: Request, @Res() res: Response): Promise<void> {
    const data = await this.appService.buildPayload(req)
    res.setHeader('Content-Type', 'text/plain; charset=utf-8')
    res.send(this.appService.renderText(data))
  }

  @Get('/health')
  getHealth(@Res() res: Response): void {
    res.setHeader('Content-Type', 'text/plain; charset=utf-8')
    res.send('ok')
  }
}
