import { headers } from 'next/headers'
import { buildPayload, buildText } from '../lib/request-info'

export const dynamic = 'force-dynamic'

export async function GET() {
  const hdrs = await headers()
  const data = await buildPayload(hdrs, '/text')
  return new Response(buildText(data), {
    headers: { 'Content-Type': 'text/plain; charset=utf-8' },
  })
}
