import { headers } from 'next/headers'
import { buildPayload, buildXml } from '../lib/request-info'

export const dynamic = 'force-dynamic'

export async function GET() {
  const hdrs = await headers()
  const data = await buildPayload(hdrs, '/xml')
  return new Response(buildXml(data), {
    headers: { 'Content-Type': 'application/xml; charset=utf-8' },
  })
}
