import { headers } from 'next/headers'
import { NextResponse } from 'next/server'
import { buildPayload } from '../lib/request-info'

export const dynamic = 'force-dynamic'

export async function GET() {
  const hdrs = await headers()
  const data = await buildPayload(hdrs, '/json')
  return NextResponse.json(data)
}
